@import "../../globalColors";

#projects{
    width: 100vw;
    min-height: 80vh;
    padding: 2rem;
    display: flex;
    align-items: center;
}

.project-main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.project-title{
    width: 100%;
    font-size: 4em;
    font-family: "poppins";
    font-weight: 500;
    text-align:right;
    padding-right: 350px;
    color: $darkBoxShadow;

}

.project-container{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}

.project-left-div{
    width: 30%;
}

.project-icon{
    width: 100%;
    height: 100%;
}

.project-right-div{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content:start;
    flex-wrap: wrap;
}


@media screen and (max-width:1024px) {
    .project-left-div{
        width: 20%;
    }
    .project-title{ 
        text-align: center;
    }
}

@media screen and (max-width:900px) {
.project-container{
    flex-direction: column;
    align-items: center;
    }
    .project-right-div{
        justify-content: center;
    }
    .project-title{
        padding: 0;
        text-align: center;
        font-size: 3em;
    }
}

@media screen and (max-width:768px){
    .project-title{
        font-size: 2.5em;
    }
    .project-left-div{
        width: 40%;
    }
}

@media screen and (max-width:500px) {
    .project-container{
        margin: 0;
    }
    .project-left-div{
        width: 50%;
    }
    .project-title{
        font-size: 2.2em;
    }
}