@import "../../globalColors";





.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    width: 100%;   // Make sure slides fit their content or set a specific width
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

