@import "../../globalColors";
.exp-card{
    width: 300px;
    height: 500px;
    border-radius: 20px;
    padding: 2rem;
    border: 1px solid $lightBackground3;
    box-shadow: rgba(0, 0, 0, 0.2)0px 5px 10px;
}

.exp-card-header{
    background-color: cadetblue;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: relative;
}

.exp-card-header p{
    font-size: 1.5em;
    font-family: "poppins";
    font-weight: 400;
    color: $textColorDark;
}

.exp-header-img{
    width: 60%;
    height: 50%;
    position: absolute;
    left: 50%;
    bottom: -50%;
    transform: translate(-50%, -50%);
}

.exp-header-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;  
}

.exp-card-container{
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exp-role{
    font-size: 1.5em;
    text-align: center;
    font-family: "poppins";
    font-weight: 500;
}

.exp-date{
    color: white;
    line-height: 1.5rem;
}

.exp-desc{
    line-height: 1.3rem;
    margin-bottom: 10px;
}